body {
	margin: 0;
	padding: 0;
}

.fashion_box {
	float: left;
	margin: 20px 0px 20px 48px;
}

.fashion_box img {
	margin: 5px;
	float: left;
	height: 35px;
	width: 80px;
}

.fashion_list {
	float: right;
	margin: 10px;


}

.fashion_list ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.fashion_list ul li {
	float: left;
	/*padding:10px 15px 50px 2px;*/
	margin: 20px 45px 20px 0px;

}

.fashion_list ul li a:link,
.fashion_list ul li a:visited {
	color: black;
	/*background:white;*/
	text-decoration: none;
	padding: 5px 5px;
	display: block;
	border-right: solid 1px white;

}

.fashion_list ul li:last-child a:link,
.fashion_list ul li:last-child a:visited {
	background: black;
	color: white;
	padding: 2px;
}


#title1 {

	background: #F4F6F5;
	/*margin:0px 0px 25px 0px;*/

}

#top1 {

	background: #F4F6F5;

	margin: 20px 0px 70px 50px;


}

.let h1 {
	line-height: -5px;
	margin: 50px;
	font-size: 60px;

}

.lets {
	/*width:80px;
					height:50px;*/
	background: white;

}

.unique {
	/*width:80px;
					height:50px;*/

	background: #EBD96B;
}


.live p {
	/*float: left;*/
	font-size: 19px;
	/*padding:20px;*/
	margin: 3px 0px 30px 50px;
}

.shop ul {
	list-style: none;
	margin: 20px 0px 30px 50px;
	padding: 0px;

}

.shop ul li {
	/*float: left;*/
	padding: 2px 5px 3px 4px;
}




.shop ul li a:link,
.shop ul li a:visited {

	color: white;
	background: black;
	text-decoration: none;
	padding: 5px 10px;
	/*margin:40px 20px 30px 0px;*/

}

#top2 {
	/*width: 650px;
	height: 510px;*/
	background: #F4F6F5;
	/*float: left;*/
	margin: 20px 50px 70px 0px;


}

#top2 img {
	/*margin:30px 10px;
					padding:30px 5px 20px 15px;*/
	width: 550px;
	height: 480px;
	padding: 30px;
}


.brandarea {
	padding: 20px 0;
	background: #EBD96B;

}

.nav-link {
	color: red;

}

.nav-link:hover {
	color: green;
}

.active {
	color: blue !important;
}

.xyz {
	background: pink;
}

.menu {
	background: white;
}

.menu img {
	padding: 65px 0 0 19px;
}

.menu1 {
	background: white;
}

.menu1 img {
	width: 100%;

	/* margin: 5px 25px 0px 35px; 
	padding:20px 0;*/

}

.menu1 h5 {
	font-size: 19px;

	margin: 2px 0px 7px 35px;

}

.menu1 p {
	margin: 0px 0px 0px 40px;
	color: #7F7F7F;
}

/*.menu2 img {
	width: 100%;


	margin: 5px 25px 0px 35px;
	padding:20px 0;

}

.menu2 h5 {
	font-size: 19px;

	margin: 2px 0px 7px 35px;

}

.menu2 p {
	margin: 0px 0px 0px 40px;
	color: #7F7F7F;
}

.menu3 img {
	width: 100%;



}

.menu3 h5 {
	font-size: 19px;

	margin: 2px 0px 7px 35px;

}

.menu3 p {
	margin: 0px 0px 0px 40px;
	color: #7F7F7F;
}*/

.sarea {
	background: linear-gradient(to bottom, #FFEC63, #FFE95C, #F8DD52);
}

.sarea1 img {

	width: 665px;
	height: 600px;

}

.sarea2 h1 {

	font-size: 60px;

	margin: 90px 0px 0px 50px;

}

.payday {
	background: #E7E6E6;

}

.sarea2 p {
	font-size: 20px;
	margin: 30px 0px 20px 50px;
}

#spend {
	font-size: 20px;
	margin: 30px 0px 0px 50px;
}

#shop1 ul {
	list-style: none;
	margin: 20px 0px 30px 10px;


}

#shop1 ul li {
	float: left;
	padding: 5px 5px 3px 4px;
	font-size: 20px;
}

#shop1 ul li a:link,
#shop1 ul li a:visited {
	color: white;
	background: black;
	text-decoration: none;
	padding: 15px 25px;
}

.darea {
	width: 1530px;
	height: 600;
	background: white;
}

.darea1 img {
	padding: 60px 0 0 0;
}

.darea2 img {
	padding: 60px 25px 0 0;
	width: 100%;
}

.darea2 h5 {
	font-size: 22px;
	margin: 40px 0px 2px 0px;

}

.darea2 p {
	font-size: 18px;
	margin: 5px 0px 2px 0px;

	color: #7F7F7F;
}

/*.darea3 img {
	padding: 60px 0px 0 25px;
	width: 100%;
}

.darea3 h5 {
	font-size: 22px;
	margin: 40px 0px 2px 14px;

}

.darea3 p {
	font-size: 18px;
	margin: 5px 0px 2px 14px;

	color: #7F7F7F;
}*/

#carea1 {
	background: white;


}

#carea1 h1 {
	font-size: 30px;
	/*margin: 100px 0px 0px 100px;*/

}

#carea1 p {

	font-size: 27px;
	/*margin: 25px 0px 0px 100px;*/
	color: #7F7F7F;

}

.r5 img {
	margin: 25px 0px 0px 100px;

}

.r6 img {
	margin: 25px 0px 0px 6px;
}

/*#carea2{
	width:600px;
	height:550;
	background:white;
	float:left;
}*/
#carea2 img {
	padding: 35px 60px 30 90px;
	/*float:left;*/
}

.abc h2 {
	font-size: 41px;
	color: white;

}

#footerarea {
	background: #E5C643;
	text-align: center;
	padding:20px 0 50px 0;
}

.abc1 h2 {
	font-size: 31px;
	color: white;
}

.abc2 p {
	font-size: 21px;
	color: white;
}

.add {
	font-size: 17px;
	margin: 30px 0px 60px 50px;
	padding: 12px 70px 12px 13px;
	background: white;
	position: relative;
	/*float: left;*/
}

.send {
	font-size: 16px;
	margin: 36px 10px 10px 10px;
	padding: 6px 5px 6px 4px;
	background: black;
	color: white;

	position: absolute;
	top: -30px;
	left: 199px;

}

#bottomarea {
	background: black;

}

.box1 {
	/*width: 510px;
	height: 300px;*/
	background: black;
	float: left;
}


.box1 h2 {
	color: white;
	margin: 60px 0px 0px 50px;
}

.box1 p {
	color: #7F7F7F;
	margin: 20px 0px 0px 50px;
}

.photo1 img {
	margin: 17px 0px 0px 50px;
	width: 39px;
	height: 39px;
}

.photo2 img {
	margin: 17px 0px 0px 4px;
	width: 39px;
	height: 39px;
}

.photo3 img {
	margin: 17px 0px 0px 4px;
	width: 39px;
	height: 39px;
}

.photo4 img {
	margin: 17px 0px 0px 4px;
	width: 39px;
	height: 39px;
}

.box2 {
	/*width: 230px;
	height: 300px;*/
	background: black;
	float: left;
}

.box2 h4 {
	margin: 57px 0px 0px 2px;
	color: #D9D9D9
}

.para1 {
	margin: 14px 0px 0px 2px;
	color: #7F7F7F;
}

.para2 {
	margin: 14px 0px 0px 2px;
	color: #7F7F7F;
}

.para3 {
	margin: 14px 0px 0px 2px;
	color: #7F7F7F;
}

.para4 {
	margin: 14px 0px 0px 2px;
	color: #7F7F7F;
}

/*.box3 h4 {
	margin: 57px 0px 0px 2px;
	color: #D9D9D9
}

.para5 {
	margin: 14px 0px 0px 2px;
	color: #7F7F7F;
}

.para6 {
	margin: 14px 0px 0px 2px;
	color: #7F7F7F;
}

.para7 {
	margin: 14px 0px 0px 2px;
	color: #7F7F7F;
}

.para8 {
	margin: 14px 0px 0px 2px;
	color: #7F7F7F;
}

.box4 h4 {
	margin: 57px 0px 0px 2px;
	color: #D9D9D9
}

.para9 {
	margin: 14px 0px 0px 2px;
	color: #7F7F7F;
}

.para10 {
	margin: 14px 0px 0px 2px;
	color: #7F7F7F;
}*/